/dist
*.scss
*.css
/node_modules
/build
vite.config.ts
jest.setup.ts
jest.config.js
/test/__mocks__/fileMock.js
commitlint.config.js

node_modules/

# Ignore artifacts:
coverage/
dist/
public/
__mocks__/

commitlint.config.js
jest.config.js
postcss.config.js
*.d.ts